body{
  background-color: #f5f2ee;

}
.ag-row .ag-cell {
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
  font-size: 12px;
}

#root > div > div:nth-child(1) > div:nth-child(1) > div{
    width: 20vw;
    margin-top: 0px;
    
}

#ag-18 {
  background-color:white !important;
}

#myGrid > div > div > div.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed > div.ag-root.ag-unselectable.ag-layout-normal > div.ag-header.ag-focus-managed.ag-pivot-off > div.ag-header-viewport{
  background-color:white !important;
}

select {
  border: none;
  /* appearance: none; */
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
}

select:focus{
outline: 0;
}

select:after{
  outline: 0;
}

:root {
  overflow: hidden;
  background-color: #f5f2ee;
  --select-border: transparent;
  --select-focus: transparent;
  --select-arrow: var(--select-border);
}

.dropdown{
  height: 35px;
  width: 15vw;
  border-radius: 0.4em;
  padding: 0.25em 0.5em;
  font-size: 14px;
  cursor: pointer;
  color: black;
  margin-top: 7px;
  background-color: #9AD4EB;

}

.dropdown:hover{
  opacity: 95%;
}
option:hover{
  opacity: 95%;
}

/* select:focus + .focus {
  position: absolute;
  border: 0px solid var(--select-focus);
  border-radius: inherit;
}

option:focus{
  border: 0;
} */

select option {
  background-color: #baddeb !important;
  color: rgb(0, 0, 0);
  border-radius: 0.4em;
  height: 30px;
}


.titles{
  font-size: 24px;
  font-family: "League Gothic"; 
  margin-top: 15px;
}

/* .left-box{
  padding-top:20px;
  background-color: #D1CFCF;
  display:block;
} */
.subhead{
  font-size: 14px;
  color: black;
  width: 15vw;
}

.btns-box {
    width: 20vw;
    padding-top: 15px;
    display:flexbox;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;

  }

.export-btn {
    z-index: 99;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 500px !important;
}

button{
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}
button:hover{
 color: #5EC7EB;

}

button:after{
  border: 0;
}

